body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #020617;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 300px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #2563eb;
    color: white;
    font-weight: bold;
}

button:hover {
    background: #1d4ed8;
}

#avatar {
    margin-top: 15px;
    width: 150px;
    height: 150px;
}

#status {
    margin-top: 10px;
}
